.remove-comment{
  background: none;
  border: 0;
  line-height: 1;
  display: none;
  -moz-transition:all ease .8s;
}
.edit-comment{
  background: none;
  border: 0;
  line-height: 1;
  display: none;
  -moz-transition:all ease .8s;
}

.comment:hover .remove-comment{
  display: inline;
  color: red;
}
.comment:hover .edit-comment{
  display: inline;
  color: blue;
}
.comment{
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;
}

.comment p{
    font-size: 1.2rem;
    margin: 0;
  }
  .comment strong{
    color: blue;
    margin-right: 5px;
  }


  .remove-comment{
        opacity: 1
}
.comment-form input textarea{
      width: 100%;
    border: 0;
    font-size: 1.3rem;
    padding: 1rem 0;
    border-bottom: 1px solid lightgrey;
    outline: none;
    resize: vertical;
}
.comment-form{
  padding-top:5px;
  padding-bottom: 2px;
  background-color: lightgrey;
}
.nombre{
  margin-left: 5px;

}
.comentabody{
    -webkit-border-radius: 0px 0px 19px 19px;
}
