<div>
  <div  *ngFor = "let comment of comments ; let ind_coment = index"  class="comment"><strong > {{comment.author.name}}:</strong> {{comment.body}}
    <button  (click)="eliminar_comentario(comment._id,ind_coment)" class="remove-comment" >&times;</button>
    <button  (click)="editar_comentario(comment._id,ind_coment)" class="edit-comment" >&#9998;</button>

  </div>
  <div  class= "comment-form">
  <input  class="form-control" type="text"  #author placeholder="Autor"/>
  <input class="form-control" type="text" #input (keydown.enter)='comentar(input.value, author.value)' placeholder="Tu comentario" />
</div>
</div>
