<div *ngFor = "let post of posts ; let i = index" class="panel panel-primary">

  <div class="col-xs-12 panel-heading">
      <div class="col-xs-9"> {{post.title}} </div>
      <div class="col-xs-1"><strong> {{post.author.name}}</strong> </div>
      <div class="col-xs-1"><button (click)=eliminarPost(i,post._id) class="btn btn-danger">Eliminar</button></div>
      <div class="col-xs-1"><button class="btn btn-info">Edit</button></div>

  </div>
  <div class="panel-body">{{post.body}}</div>
  <div class="panel-footer">{{post.date}}</div>

  <comments [indice]='i' [postId]='post._id' [comments]='post.comments'></comments>
</div>
